@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-lexend);
  --ff: var(--font-sans);
  --h1: 600 4rem/1em var(--ff);
  --h2: 600 3rem/1.2em var(--ff);
  --h3: 600 2.25rem/1.2em var(--ff);
  --h4: 600 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: .75rem/2em var(--ff);

  --h1ui: 600 3rem/1.2em var(--ff);
  --h2ui: 600 2.25rem/1.2em var(--ff);
  --h3ui: 600 1.5rem/1.2em var(--ff);
  --h4ui: 600 1.12rem/1.6em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: .8rem/1.6em var(--ff);
  --smallui: .75rem/1.8em var(--ff);

  --shadow-lg-light: 0 10px 15px -3px rgb(255 255 255 / 0.1), 0 4px 6px -4px rgb(255 255 255 / 0.1);
  --shadow-xl-light: 0 20px 25px -5px rgb(255 255 255 / 0.1), 0 8px 10px -6px rgb(255 255 255 / 0.1);
}

@layer utilities {
  .font-h1 {
    font: var(--h1);
    @apply my-2;
  }
  .font-h2 {
    font: var(--h2);
    @apply my-2;
  }
  .font-h3 {
    font: var(--h3);
    @apply my-2;
  }
  .font-h4 {
    font: var(--h4);
    @apply my-2;
  }
  .font-big {
    font: var(--big);
    @apply my-2;
  }
  .font-p {
    font: var(--p);
    @apply my-2;
  }
  .font-small {
    font: var(--small);
    @apply my-2;
  }
  .font-h1ui {
    font: var(--h1ui);
    @apply my-2;
  }
  .font-h2ui {
    font: var(--h2ui);
    @apply my-2;
  }
  .font-h3ui {
    font: var(--h3ui);
    @apply my-2;
  }
  .font-h4ui {
    font: var(--h4ui);
    @apply my-2;
  }
  .font-bigui {
    font: var(--bigui);
    @apply my-2;
  }
  .font-pui {
    font: var(--pui);
    @apply my-2;
  }
  .font-smallui {
    font: var(--smallui);
    @apply my-2;
  }
}

@layer base {
  :root {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    text-wrap: balance;
    font-family: var(--ff);
    @apply bg-stone-50 text-stone-800 dark:bg-stone-800 dark:text-stone-50;
  }
  .btn1 {
    @apply cursor-pointer bg-red-500 active:bg-red-600 border-red-500 active:border-red-600
    dark:bg-red-700 dark:active:bg-red-600 dark:border-red-700 dark:active:border-red-600
    text-stone-50 px-6 py-2 rounded-lg
    hover:shadow-xl transition-shadow duration-600;
  }
  .btn2 {
    @apply cursor-pointer border-red-500 text-red-500 active:border-red-600 active:text-red-600
    dark:border-red-600 dark:text-red-600 dark:active:border-red-500 dark:active:text-red-500
    px-6 py-2 rounded-lg border-4 border-solid
    hover:shadow-xl transition-shadow duration-600;
  }
}
